<div class="container">
  <div class="utils-control">
    <div class="display-flex media-head">
      <a [routerLink]="['/home-test/prospect']" routerLinkActive="router-link-active" >
        <i class="fa fa-chevron-left fa-2x"></i> 
      </a>
      <i class="fa fa-address-card fa-2x btn-left20"></i>
      <div class="title btn-left20">
        <h2>Tạo mới khách hàng</h2>
      </div>
    </div>
    <div class="utils">
      <button class="btn btn-primary">
        Lưu
      </button>
      <button class="btn btn-left20">
        Hủy
      </button>
    </div>
  </div>
</div>