<div class="container">
  <div class="utils-control">
    <div class="display-flex media-head">
      <a [routerLink]="['/home-test/prospect']" routerLinkActive="router-link-active" >
        <i class="fa fa-chevron-left fa-2x"></i> 
      </a>
      <i class="fa fa-address-card fa-2x btn-left20"></i>
      <div class="title btn-left20">
        <h2>Tạo mới khách hàng</h2>
      </div>
    </div>
    <div class="utils">
      <button class="btn btn-primary" (click)="showData()">
        Lưu
      </button>
      <button class="btn btn-left20">
        Hủy
      </button>
    </div>
  </div>
  <div>
    <div class="form-container">
        <app-dynamic-form [dataModel]="dataModel"></app-dynamic-form>
    </div>
    <!-- <div class="form-container">
        <div class="btn-detail" (click)="show = !show">
          <i class="fa fa-caret-down" aria-hidden="true" [@toggleIcon]="show1 ? 'show' : 'hide'"></i>
          &nbsp; Chi tiết địa chỉ
        </div>
        <div [@toggle]="show1 ? 'show' : 'hide'" class="toggle-detail">
          <app-dynamic-form [formName]="'addressForm'"></app-dynamic-form>
        </div>
      </div>
  </div> -->
</div>