/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #acacac !important;
}

ul, p, label, h2 {
  margin-bottom: 0 !important;
}

.container {
  width: 100% !important;
  padding: 0 20px;
}

.utils-control {
  padding: 30px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d4d4;
}

.utils-control .utils {
  display: flex;
  align-content: center;
}

.utils-control .title > h2 {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: bold;
  color: #626262;
}

.utils-control a {
  color: #ffffff;
  text-decoration: none;
}
.group-search {
  display: flex;
  width: 350px;
}

.group-search > label {
  width: 200px;
  display: flex;
  align-items: center;
  background-color: #17a2b8;
  justify-content: center;
  color: #ffffff;
  border-radius: 5px 0 0 5px;
}

.group-search > label > p {
  height: fit-content; 
}

.group-search > input {
  border: 2px solid #17a2b8;
  border-radius: 0 5px 5px 0;
}

.group-search > input:focus {
  box-shadow: none;
}

.btn-left20 {
  margin-left: 20px !important;
}

.btn-primary {
  background-color: #17a2b8 !important;
}

.btn-primary a:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  color: #ffffff;
}

.display-flex {
  display: flex;
  align-items: center;
}

.media-head {
  color: #17a2b8;
}

.custom-dropdown, .custom-search,
.custom-date {
  position: relative;
  width: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-dropdown select {
  border: 1px solid #17a2b8;
  border-radius: 5px 0 0 5px;
  font-size: 13px;
}

.custom-dropdown select > option {
  font-size: 13px;
}

.custom-dropdown::after, .custom-search::after,
.custom-date::after {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: #17a2b8;
  position: absolute;
  color: #ffffff;
  content: '\25BC';
  pointer-events: none;
}

.custom-search::after {
  content: '\1F50D';
}

.custom-date::after {
  font-family: FontAwesome;
  content: '\f073';
}

.form-group {
  margin-bottom: 0 !important;
}

.full-width {
  width: 100%;
}

.top20 {
  margin-top: 20px;
}

.span2 {
  grid-column: span 2;
}

.span2 .wrapper {
  grid-template-columns: 25% 75% !important;
}

button:focus {
  outline: 0 !important;
}